<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>Notable</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.googleIconURL = "<%= image_url('icons8-google-28.png') %>"
      window.facebookIconURL = "<%= image_url('icons8-facebook-28.png') %>"
      window.openTableIconURL = "<%= image_url('OTLogo_rationalizationhor-r1c-01.png') %>"
      window.githubURL = "<%= image_url('GitHub-Mark-32px.png') %>"
      window.linkedinURL = "<%= image_url('icons8-linkedin-28.png') %>"
    </script>
  </head>

  <body class="master-container">
    <%= yield %>
  </body>
</html>
